
{% capture rustProne %} 
  {%  if collection.metafields.custom.rust_prone == true %}
<div class="tooltip"><a href="/pages/carbon-steel-knife-care-and-cleaning"> <b><i>d{{ 'product.custom.rust_prone' | t }} ⓘ</b></i></a> 
  <span class="tooltiptext">This knife can rust, click to learn more.</span>
</div>
    {% endif %} 
{% endcapture %}

{% capture collectionHRCurl %}{{ collection.metafields.steel.steel-type | handleize }}{% endcapture %}
{% assign collectionHRC = collections[collectionHRCurl] %}

{% capture rustProne %} 
  {%  if product.metafields.knifeStats.filterSteelMakeUp != 'Stainless Steel' and product.metafields.knifeStats.filterSteelMakeUp != blank %}
<div class="tooltip"><a href="/pages/carbon-steel-knife-care-and-cleaning"> <b><i>{{ 'product.custom.rust_prone' | t }} ⓘ</b></i></a> 
  <span class="tooltiptext">This knife can rust, click to learn more.</span>
</div>
    {% endif %} 
{% endcapture %}

{% capture collectionIs404 %} {% for collection in collections %}{{ collection.title  }}{% endfor %} {% endcapture %}  

<section class="section ep-stats">
  
<table><tbody>

{% if collection.metafields.knifeline.blacksmith != blank %} <tr> <th>Blacksmith</th> <td> <a href="{{ routes.collections_url }}/{{ collection.metafields.knifeline.blacksmith | handleize }}"> {{ collection.metafields.knifeline.blacksmith | metafield_tag }} </a></td> </tr> {% endif %}


{% if collection.metafields.steel.steel-type != blank %} 

{% if collection.metafields.steel.steel-type  != blank %} <tr> <th>Steel Type</th> <td>
  <a href="{{ routes.collections_url }}/{{ collection.metafields.steel.steel-type | handleize }}">
  {{ collection.metafields.steel.steel-type | metafield_tag }} 
  {% if collection.metafields.knifeline.cladding  != blank %} {{collection.metafields.knifeline.cladding | metafield_tag}}{% endif %}
  

  {%  if collection.metafields.custom.rust_prone == true %}
<div class="tooltip"><a href="/pages/carbon-steel-knife-care-and-cleaning"> <b><i>d{{ 'product.custom.rust_prone' | t }} ⓘ</b></i></a> 
  <span class="tooltiptext">This knife can rust, click to learn more.</span>
</div>
    {% endif %} 
  
  </a>
</td> </tr> {% endif %}


<tr> <th>Rockwell Hardness</th> <td> {{ collectionHRC.metafields.steel.hrc | metafield_tag }} </td> </tr> 

{% endif %}  

{% if collection.metafields.knifeline.handle != blank %} <tr> <th>Handle</th> <td> {{ collection.metafields.knifeline.handle | metafield_tag }} {{ collection.metafields.knifeline.handle_details | metafield_tag }} </td> </tr> {% endif %}


{% if collection.metafields.knifeline.brand != blank %} <tr> <th>Brand</th> <td>{% if collectionIs404 contains collection.metafields.knifeline.brand %}<a href="{{ routes.collections_url }}/{{ collection.metafields.knifeline.brand | handleize }}"> {{ collection.metafields.knifeline.brand | metafield_tag }} </a>{% else %} {{ collection.metafields.knifeline.brand | metafield_tag }} {% endif %} </td> </tr> {% endif %}


</tbody> </table>  

