{%- assign id = section.id -%}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = section.settings.css_class -%}
{%- assign custom_css = section.settings.custom_css -%} 

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}


  <section class="section {{ css_class }} {% if section.settings.wide_display == true %}is-width-wide has-no-side-gutter{% endif %} {% if section.settings.layout == 'panel' %}panel{% endif %}">
    
 {% capture metaobject-name %}
    shop.metaobjects.{{section.settings.menu-heading}}.values
  {% endcapture}

    {% for entry in metaobject-name %}
   

      

      <div class="product-{{ product.id }} ep-article-product-features">
        <div
          class="
            product_section
            js-product_section
          "

>
        {% unless section.settings.layout == 'panel' %}<div class="container fourteen">{% endunless %} 

  {% if section.settings.layout == 'small' %} 
            <div class="one-half column medium-down--one-whole">


        {% else  %} 
             <div class="one-whole column medium-down--one-whole">
        {% endif %}
       <a  target="_blank" style="border:1px solid black; display: flex;" href="{{ entry.pdf_download | file_url}}">{{ entry.cover.value | image_url: width: 500 | image_tag: loading: 'lazy' }}</a>
           
            </div>

         {% if section.settings.layout == 'small' %} 
           <div class="one-half column medium-down--one-whole product__details product__details">

      
        {% else %} 
            <div class="one-whole column medium-down--one-whole product__details product__details">
        {% endif %}
  
              
                <div class="feature_divider"></div>

                    <div class="feature-details {% if block.settings.review == true and section.settings.layout == 'large'%}feature-details-w-review{% endif %}">
                      <h3>{{ entry.title.value  }}</h3>
                        <div class="description">
                          
                            {{ entry.short_desc.value  }} <br>

<a class="button" target="_blank" href="{{ entry.pdf_download | file_url}}">Download PDF</a>
                        </div>
                     


     {% if section.settings.layout == 'small' %} 
           


        {% elsif section.settings.layout == 'large' %} 
             
          
       
 {% endif %}
                         

                 
                    </div>

              
                          <div class="feature_divider"></div>

             

              


            </div>
           {% unless section.settings.layout == 'panel' %}</div>{% endunless %} 
        </div>
      </div>
    {% endfor %}
  </section>

 
{% schema %}
  {
    "name": "Custom - Meta Object Loop",
    "settings": [
    {
      "type": "text",
      "id": "section-heading",
      "label": "Heading"
      },
      {
      "type": "text",
      "id": "metaobject-name",
      "label": "Metaobject Name"
      },
       {
        "type": "radio",
        "id": "layout",
        "label": "Layout",
        "default": "large",
        "options": [
        {
            "value": "panel",
            "label": "3 Panel"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "Custom - Meta Object Loop",
      "category": "Product"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}